name: CI

on: [push, pull_request, workflow_dispatch]

permissions:
  contents: read

jobs:
  check-syntax:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Lint Markdown
        uses: DavidAnson/markdownlint-cli2-action@v22
        with:
          globs: '**/*.md'
      - name: Run Shellcheck
        uses: azohra/shell-linter@latest
        with:
          path: "pwnagotchi-launcher-pre, pwnagotchi-viewer"
